 <!--------------------------------------ABOUT----------------------------------------->
 <section class="about" id="about">
    <!--HEADING-->
    <div class="heading">
        <h2>About Me</h2>
        <span>Introduction</span>
    </div>

    <!--ABOUT CONTENT-->
    <div class="about-container">
        <!--IMAGE-->
        <div class="about-img">
            <img src="assets/images/about.jpeg" alt="profile2">
        </div>
        <!--TEXT-->
        <div class="about-text">
            <p>I a dedicated data analyst,  find my passion in the stories that data can tell. With a background in Business inteligence and data analytics and practice with projects that i have completed that are available under the projects , I've developed a deep understanding of how to translate raw information into meaningful insights.</p>
            <!--INFO-->
            <div class="information">
            <!--box-1-->
            <div class="info-box">
                <i class="bx bxs-user"></i>
                <span>Wedu White</span>
            </div>
            <!--box-2-->
            <div class="info-box">
                <i class="bx bxs-phone"></i>
                <span>+267 72889502</span>
            </div>
            <!--box-3-->
            <div class="info-box">
                <i class="bx bxs-envelope"></i>
                <span>project&#64;codewithwedu.com</span>
            </div>
            </div>
            <!--btn-->
            <a href="assets/files/CV.pdf" class="btn" download="CV.pdf">Download CV</a>
        </div>
    </div>
</section>

