<!--==================== PORTFOLIO ====================-->
<section class="portfolio" id="portfolio">
    <div class="heading">
        <h2>Portfolio</h2>
        <span>Sample of Projects</span>
    </div>
    <div class="portfolio-content">
        <div class="portfolio-img">
           <a href=" https://bida21-023.github.io/WMD-ASSIGNMENT_/">  <img src="assets/images/movie.png"alt=""></a>
            
        </div>
        <div class="portfolio-img">
            <a href="https://app.powerbi.com/groups/5c562b35-6d11-4666-b12c-b0dcc3a604d9/reports/586248a2-f99f-46b4-97b1-c6deb344bd3a?ctid=ee292977-7b58-4df4-8138-50d0de7d28d8&pbi_source=linkShare&bookmarkGuid=f5984c21-5393-43e2-8ca0-76028c6c66e6 "> <img src="assets/images/census income data.png"alt=""></a>
        </div>
        <div class="portfolio-img">
            <a href="https://mybac-my.sharepoint.com/:x:/g/personal/bida21-023_thuto_bac_ac_bw/EZaPdDSI8XFNkvhsrCzwSA0BejL_OR98xl0a66m8zhgv-A?e=C7zcA9&nav=MTVfe0IxNjhDRUNBLThCRUQtNDFENi05NDIzLUUwMjQzRUExQjU1MX0 "> <img src="assets/images/crime analysis.png"alt=""></a>
        </div>
        
       
    </div>
</section>