/*================================SKILLS===================*/
.skills-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
 }
.skills-img img{
    width: 80%;
    padding-left: 4rem;
    object-position: center;
 }
.bars-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
 }
.bars-box h3,
.bars-box span{
    font-size: 1.1rem;
    font-weight: 500;
 }
.light-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100% ;
    height: 0.5rem;
    background: hsla(260, 100%, 44%, 0.4); 
    border-radius: 0.5rem;
 }
.percent-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5rem;
    background: var(--main-color);
    border-radius: 0.5rem;
 }

.html-bar{
    width: 80%;
 }
.css-bar{
    width: 75%;
 }
.js-bar{
    width: 60%;
 }
.python-bar{
    width: 60%;
 }
.sql-bar{
    width: 90%;
 }
.r-bar{
    width: 90%;
 }