<!--====================================SKILL SECTION===============-->
<section class="skills" id="skills">
    <div class="heading">
        <h2>Skills</h2>
        <span>My Skills</span>
    </div>
    <!--SKILLS CONTENT-->
    <div class="skills-container">
        <div class="bars">
            <!--bar 1-->
            <div class="bars-box">
                <h3>HTML</h3>
                <span>80%</span>
                <div class="light-bar"></div>
                <div class="percent-bar html-bar"></div>
            </div>
            <!--bar 2-->
            <div class="bars-box">
                <h3>CSS</h3>
                <span>75%</span>
                <div class="light-bar"></div>
                <div class="percent-bar css-bar"></div>
            </div>
            <!--bar 3-->
            <div class="bars-box">
                <h3>JavaScript</h3>
                <span>60%</span>
                <div class="light-bar"></div>
                <div class="percent-bar js-bar"></div>
            </div>
            <!--bar 4-->
            <div class="bars-box">
                <h3>Python</h3>
                <span>60%</span>
                <div class="light-bar"></div>
                <div class="percent-bar python-bar"></div>
            </div>
            <!--bar 4-->
            <div class="bars-box">
                <h3>SQL</h3>
                <span>90%</span>
                <div class="light-bar"></div>
                <div class="percent-bar sql-bar"></div>
            </div>
            <!--bar 4-->
            <div class="bars-box">
                <h3>R</h3>
                <span>90%</span>
                <div class="light-bar"></div>
                <div class="percent-bar r-bar"></div>
            </div>
        </div>
        <!--SKILLS-IMAGE-->
        <div class="skills-img">
            <img src="assets/images/skills.png" alt="computer with code languages">
        </div>
    </div>
</section>