 <!--==================== SERVICES ====================-->
 <section class="services "id="services"> 
    <div class="heading">
        <h2>Services</h2>
        <span>My Services</span>
    </div>
    <div class="services-content">
        
        <!--box-1-->
        <div class="services-box">
            <i class='bx bx-layer'></i>
            <h3>Web Development</h3>
            <p class="des">Web development is creating and managing websites or web applications, covering design (front-end) and functionality/data management (back-end).</p>                
        </div>
        <!--box-2-->
        <div class="services-box">
            <i class='bx bx-line-chart'></i>
            <h3>Data analytics</h3>
            <p class="des">Data analytics is making sense of data to help with decision-making and find patterns or insights.</p>                
        </div>
        <!--box-3-->
        <div class="services-box">
            <i class='bx bxs-layout'></i>
            <h3>Web Design</h3>
            <p class="des">Web design involves creating the visual and interactive aspects of websites. </p>                
        </div>
        <!--box-4-->
        <div class="services-box">
            <i class='bx bx-usb'></i>
            <h3>Machine learning</h3>
            <p class="des">Machine learning is teaching computers to learn from experience and get better at tasks without being explicitly programmed.</p>                
        </div>
        
    </div>
</section>

